.card {
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.116);
  border-radius: 10px;
  border: none;
}

.section-wraper {
  padding: 50px 0;
  overflow: hidden;
}

.section-wraper .section-title {
  font-size: 24px;
  font-family: 'Myriad Pro Semibold', sans-serif;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: black;
}

@media screen and (max-width: 768px) {
  .section-wraper .section-title {
    text-align: center;
  }
}

.color-primary {
  color: #f97730 !important;
}

.color-secondary {
  color: #e93178 !important;
}

.color-gray {
  color: #818181 !important;
}

.border-light {
  border: 0.5px solid #e4e4e4 !important;
}

.img-70 {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.circle {
  border-radius: 50%;
}

.chevron-right {
  height: 100% !important;
  width: 100% !important;
  background-image: url(../images/ico/chevron-right.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.chevron-left {
  height: 100% !important;
  width: 100% !important;
  background-image: url(../images/ico/chevron-left.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 992px) {
  .w-LG-auto {
    width: auto !important;
  }
}

.bounce {
  -moz-animation: bounce 1.5s infinite;
  -webkit-animation: bounce 1.5s infinite;
  animation: bounce 1.5s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

a:visited, a:link, a:hover, a:active {
  text-decoration: none;
}

a {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: lighter;
}

ul li {
  display: block;
  padding: 2px 0;
}

button, a[role="button"] {
  cursor: pointer !important;
}

b {
  font-weight: bold;
}

.lity {
  background-color: rgba(1, 20, 9, 0.938);
}

/* This stylesheet generated by Transfonter (http://transfonter.org) */
@font-face {
  font-family: 'MP';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MP';
  src: url("../fonts/MyriadPro-Bold.eot");
  src: url("../fonts/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.ttf") format("truetype"), url("../fonts/MyriadPro-Bold.svg#MyriadPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MP';
  src: url("../fonts/MyriadPro-Black.eot");
  src: url("../fonts/MyriadPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Black.woff") format("woff"), url("../fonts/MyriadPro-Black.ttf") format("truetype"), url("../fonts/MyriadPro-Black.svg#MyriadPro-Black") format("svg");
  font-weight: 800;
  font-style: normal;
}

.owl-carousel.nav-center .owl-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.owl-carousel.nav-center .owl-nav button {
  position: absolute;
  color: #f97730 !important;
  font-size: 40px !important;
  width: 90px;
  height: 70px;
  opacity: 0.8;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-carousel.nav-center .owl-nav button:hover {
  opacity: 1;
}

.owl-carousel.nav-center .owl-nav button:focus {
  outline: none;
}

@media screen and (max-width: 576px) {
  .owl-carousel.nav-center .owl-nav button {
    width: 40px;
    height: 40px;
  }
}

.owl-carousel.nav-center .owl-nav .owl-prev {
  left: -13%;
}

.owl-carousel.nav-center .owl-nav .owl-next {
  right: -13%;
}

@media screen and (max-width: 768px) {
  .owl-carousel.nav-center .owl-nav .owl-prev {
    left: -17%;
  }
  .owl-carousel.nav-center .owl-nav .owl-next {
    right: -17%;
  }
}

@media screen and (max-width: 1390px) and (min-width: 1246px) {
  .owl-carousel.nav-center .owl-nav .owl-prev {
    left: -10%;
  }
  .owl-carousel.nav-center .owl-nav .owl-next {
    right: -10%;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1000px) {
  .owl-carousel.nav-center .owl-nav .owl-prev {
    left: -8%;
  }
  .owl-carousel.nav-center .owl-nav .owl-next {
    right: -8%;
  }
}

@media screen and (max-width: 576px) {
  .owl-carousel.nav-center .owl-nav {
    height: auto;
  }
  .owl-carousel.nav-center .owl-nav .owl-prev {
    left: -4%;
  }
  .owl-carousel.nav-center .owl-nav .owl-next {
    right: -4%;
  }
}

.owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.owl-carousel .owl-dots .owl-dot {
  width: 12px;
  height: 12px;
  border: 1px solid rgba(255, 255, 255, 0.699);
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.owl-carousel .owl-dots .owl-dot.active {
  background-color: #b57b30;
}

.owl-carousel .owl-dots .owl-dot:focus, .owl-carousel .owl-dots .owl-dot:active {
  outline: none;
}

.inner-title {
  font-size: 37px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 50px;
}

@media screen and (max-width: 768px) {
  .inner-title {
    font-size: 30px;
    line-height: 32px;
  }
}

.inner-desc {
  letter-spacing: 0.2px;
  font-size: 15px;
  font-weight: 500;
}

.underlined {
  position: relative;
  display: inline-block;
  padding: 0 6px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .underlined {
    padding-bottom: 10px;
  }
}

.underlined:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fdb52e;
}

.main-header {
  position: relative;
  margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
  .main-header {
    padding: 0;
  }
}

.main-header__content {
  padding: 40px 0;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .main-header__content {
    padding: 0;
    border-bottom: 1px solid rgba(8, 70, 16, 0.445);
  }
}

.main-header__content .container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .main-header__content .container {
    padding: 0;
    justify-content: center;
    flex-direction: column;
  }
}

.main-header__content__tools {
  position: relative;
  display: flex;
  margin-top: 30px;
}

@media screen and (max-width: 992px) {
  .main-header__content__tools {
    margin-top: 0;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f97730;
  }
}

.main-header__content__tools__form {
  position: relative;
  width: 250px;
}

@media screen and (max-width: 992px) {
  .main-header__content__tools__form {
    margin-right: 10px;
    width: 50%;
  }
}

.main-header__content__tools__form input {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  border: 1px solid black;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-left: 20px;
  font-size: 13px;
  text-transform: uppercase;
  padding: 5px 10px;
  height: 32px;
}

@media screen and (max-width: 992px) {
  .main-header__content__tools__form input {
    border-color: #fff;
  }
}

.main-header__content__tools__form input:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.075);
  box-shadow: none;
}

.main-header__content__tools__form input::placeholder {
  color: rgba(0, 0, 0, 0.849);
}

@media screen and (max-width: 992px) {
  .main-header__content__tools__form input::placeholder {
    color: #fff;
  }
}

.main-header__content__tools__form:after {
  content: '\f002';
  position: absolute;
  right: 10px;
  top: 1px;
  font-family: FontAwesome;
  font-size: 17px;
  color: #202020;
}

@media screen and (max-width: 992px) {
  .main-header__content__tools__form:after {
    color: #fff;
  }
}

@media screen and (max-width: 992px) {
  .main-header__content__tools__lang {
    width: 30%;
  }
}

.main-header__content__tools__toggler {
  display: none;
  background-color: #b57a30;
}

@media screen and (max-width: 992px) {
  .main-header__content__tools__toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .main-header__content__tools__toggler button {
    color: #fff;
    font-size: 20px;
  }
}

.main-header__content__brand {
  height: 70px;
}

@media screen and (max-width: 992px) {
  .main-header__content__brand {
    height: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    order: 1;
    display: flex;
    justify-content: center;
  }
}

.main-header__content__brand img {
  height: 100%;
}

.nav-bege .main-header {
  padding: 0;
}

.nav-bege .main-header__content {
  background-image: url(../images/banners/bgwave.png);
  background-size: cover;
}

@media screen and (min-width: 992px) {
  .nav-bege .main-nav {
    background: #e9cd8f;
  }
}

.nav-bege .main-nav__list__item:not(:last-child) {
  border-right: 1px solid #fff;
}

@media screen and (max-width: 992px) {
  .nav-bege .main-nav__list__item:not(:last-child) {
    border-left: none;
  }
}

.main-nav {
  background-color: #fff;
  background: linear-gradient(to right, rgba(247, 247, 247, 0.3192), rgba(255, 255, 255, 0.563), rgba(255, 255, 255, 0.563), rgba(255, 255, 255, 0.563), rgba(255, 255, 255, 0.863), rgba(247, 247, 247, 0.392));
  width: 100%;
  display: block;
  z-index: 5;
}

@media screen and (max-width: 992px) {
  .main-nav {
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: rgba(238, 249, 252, 0.932);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .main-nav.active {
    max-height: 1000px;
  }
}

.main-nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

@media screen and (max-width: 992px) {
  .main-nav__list {
    flex-direction: column;
  }
}

.main-nav__list__item {
  display: block;
  padding: 10px 30px;
  font-size: 15px;
  line-height: 17px;
  text-transform: uppercase;
  color: black;
  text-align: center;
  letter-spacing: 0.2px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .main-nav__list__item {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .main-nav__list__item {
    padding: 15px 10px;
  }
  .main-nav__list__item .dropdown-menu {
    position: static !important;
    transform: translateX(0) !important;
    border: none;
    text-align: center;
    width: 100%;
    font-family: 'Myriad Pro Regular';
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    max-height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0 !important;
    transition: all 0.4s ease-in-out;
    box-shadow: none !important;
    border-radius: 0;
    background-color: transparent !important;
  }
  .main-nav__list__item .dropdown-menu a {
    width: 60% !important;
  }
  .main-nav__list__item .dropdown-menu.show {
    border-top: 1px solid black;
    max-height: 300px;
    margin: 10px 0;
  }
}

.main-nav__list__item:not(:last-child) {
  border-right: 1px solid black;
}

@media screen and (max-width: 992px) {
  .main-nav__list__item:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid black;
    width: 100%;
  }
}

.main-nav__list__item.active, .main-nav__list__item:hover, .main-nav__list__item:active {
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

@media screen and (min-width: 992px) {
  .main-nav__list__item:nth-child(3) {
    min-width: 23s0px;
  }
}

.main-nav__list__item a {
  color: inherit;
  width: 100%;
  display: block;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.815);
  width: 100%;
  height: 50px;
  border-radius: 0;
  border: none;
  color: #181818;
  font-size: 14px;
  padding: 0 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-control::placeholder {
  text-transform: uppercase;
  font-weight: 400;
  color: rgba(24, 24, 24, 0.76);
}

.form-control:focus, .form-control:active {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.726);
}

textarea.form-control {
  height: auto;
  padding: 15px 16px;
}

.form-error {
  color: #ffd900;
  display: block;
  margin-top: 5px;
}

.form-group label.error {
  display: block;
  color: #f97730;
  opacity: .8;
  font-size: 13px;
  font-weight: 400;
  padding-top: 5px;
  padding-left: 4px;
}

.radio-white {
  cursor: pointer;
  display: flex;
  margin-left: 8px;
  padding-top: 10px;
}

.radio-white .text {
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.3px;
}

.radio-white .mask {
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  margin: 0;
  width: 13px;
  height: 13px;
  border: 1px solid #fff;
  margin-right: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.radio-white input {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.radio-white input:hover ~ .mask {
  background-color: #fff;
}

.radio-white input:checked ~ .mask {
  background-color: #fff;
}

.radio-white__input:checked ~ label {
  font-weight: bold;
}

.radio-white.dark {
  align-items: center;
}

.radio-white.dark .text {
  color: #818181;
}

.radio-white.dark .mask {
  border-color: #818181;
}

.radio-white.dark input:hover ~ .mask {
  background-color: #818181;
}

.radio-white.dark input:checked ~ .mask {
  background-color: #818181;
}

.btn {
  font-family: 'MP';
  padding: 22px 46px;
  font-size: 14px;
  font-weight: lighter;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn:active, .btn:focus, .btn:hover {
  border: none;
  outline: none;
  box-shadow: none;
}

.btn-transparent {
  background: none !important;
  cursor: pointer;
}

.btn-transparent:active, .btn-transparent:focus, .btn-transparent:hover {
  border: none;
  outline: none;
}

.btn-primary {
  background-color: #f97730;
}

.btn-primary:hover {
  background-color: #f97026;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}

.btn-default {
  min-height: 40px;
  background-color: #f97730;
  color: black;
}

.btn-default:hover {
  background-color: #e4dabe;
  color: black;
}

.main-footer__brands {
  height: 140px;
  width: 100%;
  background-color: #f97730;
}

@media screen and (max-width: 768px) {
  .main-footer__brands {
    height: auto;
    padding: 30px 0;
    padding-bottom: 150px;
  }
}

.main-footer__brands-content {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .main-footer__brands-content {
    flex-direction: column;
    width: 100%;
  }
}

.main-footer__brands-content img {
  flex-grow: 0;
  flex-shrink: 0;
}

.main-footer__brands-content img.villa {
  width: 240px;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .main-footer__brands-content img.villa {
    display: block;
    margin-right: 0;
  }
}

.main-footer__brands-content img.wolf {
  margin-top: 24px;
  width: 90px;
  margin-right: 20px;
}

.main-footer__brands-content img.mendes {
  margin-top: 24px;
  width: 90px;
}

.main-footer__splice {
  position: absolute;
  right: 0;
  top: 51%;
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
  align-items: center;
  background-color: #fdb52e;
  width: 215px;
  height: 155px;
}

@media screen and (max-width: 768px) {
  .main-footer__splice {
    transform: translate(-50%, -50%);
    right: 50%;
    left: 50%;
    bottom: -250px;
    top: unset;
  }
}

.main-footer__copyright {
  padding: 80px 0;
  font-size: 14px;
  color: #818181;
}

@media screen and (max-width: 768px) {
  .main-footer__copyright {
    padding: 30px 0;
    padding-top: 70px;
    text-align: center;
  }
}

.scroll-top {
  position: absolute;
  right: 130px;
  bottom: 430px;
  width: 35px;
  height: 35px;
  background-image: url(../images/ico/scrolltop.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.scroll-top.show {
  opacity: 1;
}

.scroll-top:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.scroll-top:active, .scroll-top:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .scroll-top {
    position: fixed;
    right: 50px;
    bottom: 100px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1450px) {
  .scroll-top {
    right: 25px;
  }
}

.como-chegar__title {
  font-size: 30px;
  font-weight: 400;
}

.como-chegar__radio {
  margin-bottom: -6px;
}

.como-chegar__map {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .como-chegar__map {
    height: 500px;
    order: 2;
  }
}

.como-chegar__form {
  background-color: #e93178;
  padding: 85px 34% 90px 63px;
}

@media screen and (max-width: 768px) {
  .como-chegar__form {
    padding: 50px 80px 50px 50px;
    order: 1;
  }
}

.como-chegar__form:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 0;
  width: 16%;
  height: 100%;
  background: repeating-linear-gradient(20deg, #fdb52e, #fdb52e 1px, #e93178 2px, #e93178 9px);
}

@media screen and (max-width: 768px) {
  .como-chegar__form:after {
    right: -15px;
  }
}

.como-chegar__form__caption {
  color: #fff;
  max-width: 380px;
}

.como-chegar__form__caption p {
  font-size: 16px;
}

@media screen and (max-width: 576px) {
  .como-chegar__form__caption p {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .como-chegar__form__caption h3 {
    font-size: 24px;
  }
}

@media screen and (max-width: 576px) {
  .como-chegar__form__caption {
    max-width: 400px;
  }
}

.como-chegar__form .form-control {
  max-width: 500px;
  color: #f97730;
}

.como-chegar__form .form-control::placeholder {
  color: #f97730;
}

.como-chegar__form .radio-white {
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .como-chegar__form .radio-white {
    font-size: 12px;
  }
}

.contato__header {
  padding: 50px 0 40px 0;
}

.contato__title {
  color: #606060;
  padding: 0 50px !important;
  font-size: 30px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .contato__title {
    padding: 0 20px;
    font-size: 23px;
  }
}

.contato__title:after {
  bottom: -10px !important;
}

.contato__content {
  padding: 50px 0;
  background-color: #f7f7f7;
}

.contato__plantao {
  width: 100%;
  margin-top: 34px;
}

.contato__texto-plantao {
  font-size: 16px;
}

.contato__texto-plantao h5 {
  color: #f97730;
  text-transform: uppercase;
  font-size: inherit;
}

.contato__texto-plantao p {
  color: #818181;
}

.contato__numero-plantao {
  font-size: 32px;
  color: #f97730;
}

body {
  position: relative;
  margin: 0;
  background-color: white;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*# sourceMappingURL=maps/style.css.map */
