.card {
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.116);
  border-radius: 10px;
  border: none;
}

.section-wraper {
  padding: 50px 0;
  overflow: hidden;
}

.section-wraper .section-title {
  font-size: 24px;
  font-family: 'Myriad Pro Semibold', sans-serif;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: black;
}

@media screen and (max-width: 768px) {
  .section-wraper .section-title {
    text-align: center;
  }
}

.color-primary {
  color: #f97730 !important;
}

.color-secondary {
  color: #e93178 !important;
}

.color-gray {
  color: #818181 !important;
}

.border-light {
  border: 0.5px solid #e4e4e4 !important;
}

.img-70 {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.circle {
  border-radius: 50%;
}

.chevron-right {
  height: 100% !important;
  width: 100% !important;
  background-image: url(../images/ico/chevron-right.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.chevron-left {
  height: 100% !important;
  width: 100% !important;
  background-image: url(../images/ico/chevron-left.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 992px) {
  .w-LG-auto {
    width: auto !important;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-4px);
  }
  100% {
    transform: translatey(0px);
  }
}

a:visited, a:link, a:hover, a:active {
  text-decoration: none;
}

a {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: lighter;
}

ul li {
  display: block;
  padding: 2px 0;
}

button, a[role="button"] {
  cursor: pointer !important;
}

b {
  font-weight: bold;
}

.lity {
  background-color: rgba(1, 20, 9, 0.938);
}

button:focus {
  outline: none;
}

@font-face {
  font-family: 'MP';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MP';
  src: url("../fonts/MyriadPro-BlackExt.eot");
  src: url("../fonts/MyriadPro-BlackExt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-BlackExt.woff") format("woff"), url("../fonts/MyriadPro-BlackExt.ttf") format("truetype"), url("../fonts/MyriadPro-BlackExt.svg#MyriadPro-BlackExt") format("svg");
  font-weight: 800;
  font-style: normal;
}

.owl-carousel.nav-center .owl-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.owl-carousel.nav-center .owl-nav button {
  position: absolute;
  color: #f97730 !important;
  font-size: 40px !important;
  width: 90px;
  height: 70px;
  opacity: 0.8;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-carousel.nav-center .owl-nav button:hover {
  opacity: 1;
}

.owl-carousel.nav-center .owl-nav button:focus {
  outline: none;
}

@media screen and (max-width: 576px) {
  .owl-carousel.nav-center .owl-nav button {
    width: 40px;
    height: 40px;
  }
}

.owl-carousel.nav-center .owl-nav .owl-prev {
  left: -13%;
}

.owl-carousel.nav-center .owl-nav .owl-next {
  right: -13%;
}

@media screen and (max-width: 768px) {
  .owl-carousel.nav-center .owl-nav .owl-prev {
    left: -17%;
  }
  .owl-carousel.nav-center .owl-nav .owl-next {
    right: -17%;
  }
}

@media screen and (max-width: 1390px) and (min-width: 1246px) {
  .owl-carousel.nav-center .owl-nav .owl-prev {
    left: -10%;
  }
  .owl-carousel.nav-center .owl-nav .owl-next {
    right: -10%;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1000px) {
  .owl-carousel.nav-center .owl-nav .owl-prev {
    left: -8%;
  }
  .owl-carousel.nav-center .owl-nav .owl-next {
    right: -8%;
  }
}

@media screen and (max-width: 576px) {
  .owl-carousel.nav-center .owl-nav {
    height: auto;
  }
  .owl-carousel.nav-center .owl-nav .owl-prev {
    left: -4%;
  }
  .owl-carousel.nav-center .owl-nav .owl-next {
    right: -4%;
  }
}

.owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.owl-carousel .owl-dots .owl-dot {
  width: 12px;
  height: 12px;
  border: 1px solid rgba(255, 255, 255, 0.699);
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.owl-carousel .owl-dots .owl-dot.active {
  background-color: #b57b30;
}

.owl-carousel .owl-dots .owl-dot:focus, .owl-carousel .owl-dots .owl-dot:active {
  outline: none;
}

.inner-title {
  color: #949494;
  padding: 0 50px !important;
  font-size: 30px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .inner-title {
    padding: 0 20px;
    font-size: 23px;
  }
}

.inner-title:after {
  bottom: -10px !important;
}

.inner-desc {
  letter-spacing: 0.2px;
  font-size: 15px;
  font-weight: 500;
}

.underlined {
  position: relative;
  display: inline-block;
  padding: 0 6px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .underlined {
    padding-bottom: 10px;
  }
}

.underlined:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: #fdb52e;
}

.main-nav {
  background-color: #fff;
  position: relative;
  z-index: 9;
  width: 100%;
  padding: 20px 0;
}

@media screen and (max-width: 992px) {
  .main-nav {
    display: none;
  }
}

.main-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav__list {
  display: flex;
}

.main-nav__item {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'MP';
  font-size: 17px;
  color: #949494;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-nav__item:hover {
  color: #f97730;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}

.main-nav__item a {
  color: inherit;
}

.main-nav__item:not(:first-child) {
  margin-left: 70px;
}

@media screen and (max-width: 1200px) {
  .main-nav__item:not(:first-child) {
    margin-left: 30px;
  }
}

.main-nav__item.obras {
  position: relative;
  color: #f97730;
  padding-left: 30px;
}

.main-nav__item.obras:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background-image: url(../images/ico/cog.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.sticky-nav {
  position: fixed;
  z-index: 8;
  top: 0;
  width: 100%;
  left: 0;
  background-color: #f97730;
  font-family: 'MP';
  padding: 10px 0;
  opacity: 0;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.108);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .sticky-nav {
    overflow: hidden;
  }
}

@media screen and (max-width: 992px) {
  .sticky-nav {
    position: relative;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .sticky-nav.active {
    overflow: visible;
  }
}

.sticky-nav.sticky {
  opacity: 1;
  position: fixed;
}

.sticky-nav .container {
  display: flex;
  justify-content: space-between;
}

.sticky-nav__brand {
  width: 130px;
}

.sticky-nav__brand img {
  width: 100%;
}

.sticky-nav__toggler {
  position: relative;
  text-transform: uppercase;
  padding-right: 50px;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  margin-left: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sticky-nav__toggler:before {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url(../images/ico/toggle.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.sticky-nav__toggler:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}

.sticky-nav__toggler[aria-expanded="true"] {
  padding-right: 56px;
}

.sticky-nav__toggler[aria-expanded="true"]:before {
  width: 38px;
  height: 38px;
  background-color: #d45d1c;
  border-radius: 50%;
  background-image: url(../images/ico/close.png);
  background-size: 40%;
}

.sticky-nav__actions {
  display: flex;
  align-items: center;
}

.sticky-nav__menu {
  position: absolute;
  right: -400px;
  bottom: 0;
  transform: translateY(100%);
  background-image: url(../images/trumps/moldura-menu.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 400px;
  width: 320px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  padding: 40px 30px 40px 60px;
}

@media screen and (max-width: 340px) {
  .sticky-nav__menu {
    width: 290px;
    height: 330px;
  }
}

@media screen and (max-width: 768px) {
  .sticky-nav__menu {
    transition: all 0.3s ease-in-out;
  }
}

.sticky-nav__menu.active {
  opacity: 1;
  right: 0;
}

.sticky-nav__menu-item {
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 340px) {
  .sticky-nav__menu-item {
    font-size: 15px;
  }
}

.sticky-nav__menu-item:hover {
  padding-left: 10px;
}

.sticky-nav__menu-item a {
  color: inherit;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.815);
  width: 100%;
  height: 50px;
  border-radius: 0;
  border: none;
  color: #181818;
  font-size: 14px;
  padding: 0 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-control::placeholder {
  text-transform: uppercase;
  font-weight: 400;
  color: rgba(24, 24, 24, 0.76);
}

.form-control:focus, .form-control:active {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.726);
}

textarea.form-control {
  height: auto;
  padding: 15px 16px;
}

.form-error {
  color: #ffd900;
  display: block;
  margin-top: 5px;
}

.form-group label.error {
  display: block;
  color: #f97730;
  opacity: .8;
  font-size: 13px;
  font-weight: 400;
  padding-top: 5px;
  padding-left: 4px;
}

.radio-white {
  cursor: pointer;
  display: flex;
  margin-left: 8px;
  padding-top: 10px;
}

.radio-white .text {
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.3px;
}

.radio-white .mask {
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  margin: 0;
  width: 13px;
  height: 13px;
  border: 1px solid #fff;
  margin-right: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.radio-white input {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.radio-white input:hover ~ .mask {
  background-color: #fff;
}

.radio-white input:checked ~ .mask {
  background-color: #fff;
}

.radio-white__input:checked ~ label {
  font-weight: bold;
}

.radio-white.dark {
  align-items: center;
}

.radio-white.dark .text {
  color: #818181;
}

.radio-white.dark .mask {
  border-color: #818181;
}

.radio-white.dark input:hover ~ .mask {
  background-color: #818181;
}

.radio-white.dark input:checked ~ .mask {
  background-color: #818181;
}

.btn {
  font-family: 'MP';
  padding: 22px 46px;
  font-size: 14px;
  font-weight: lighter;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn:active, .btn:focus, .btn:hover {
  border: none;
  outline: none;
  box-shadow: none;
}

.btn-transparent {
  background: none !important;
  cursor: pointer;
}

.btn-transparent:active, .btn-transparent:focus, .btn-transparent:hover {
  border: none;
  outline: none;
}

.btn-primary {
  background-color: #f97730;
}

.btn-primary:hover {
  background-color: #f97026;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}

.btn-default {
  min-height: 40px;
  background-color: #f97730;
  color: black;
}

.btn-default:hover {
  background-color: #e4dabe;
  color: black;
}

.btn-outline-white {
  font-family: 'MP';
  background-color: transparent;
  border: 1.4px solid #fff;
  border-radius: 2px;
  padding: 10px 17px;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-outline-white:hover {
  background-color: #fff;
  color: #f97730;
}

.main-footer__brands {
  height: 140px;
  width: 100%;
  background-color: #f97730;
}

@media screen and (max-width: 768px) {
  .main-footer__brands {
    height: auto;
    padding: 30px 0;
    padding-bottom: 150px;
  }
}

.main-footer__brands img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-footer__brands img:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.main-footer__brands-content {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .main-footer__brands-content {
    flex-direction: column;
    width: 100%;
  }
}

.main-footer__brands-content img {
  flex-grow: 0;
  flex-shrink: 0;
}

.main-footer__brands-content img.villa {
  width: 240px;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .main-footer__brands-content img.villa {
    display: block;
    margin-right: 0;
  }
}

.main-footer__brands-content img.wolf {
  margin-top: 24px;
  width: 90px;
  margin-right: 20px;
}

.main-footer__brands-content img.mendes {
  margin-top: 24px;
  width: 90px;
}

.main-footer__splice {
  position: absolute;
  right: 0;
  top: 51%;
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
  align-items: center;
  background-color: #fdb52e;
  width: 215px;
  height: 155px;
}

@media screen and (max-width: 768px) {
  .main-footer__splice {
    transform: translate(-50%, -50%);
    right: 50%;
    left: 50%;
    bottom: -250px;
    top: unset;
  }
}

.main-footer__copyright {
  padding: 80px 0;
  font-size: 14px;
  color: #818181;
  padding-top: 130px;
}

@media screen and (max-width: 768px) {
  .main-footer__copyright {
    padding: 30px 0;
    padding-top: 70px;
    text-align: center;
  }
}

.scroll-top {
  position: fixed;
  right: 130px;
  bottom: -40px;
  width: 35px;
  height: 35px;
  z-index: 5;
  border: none;
  opacity: 0;
  background-color: #f97730;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.scroll-top.show {
  opacity: 1;
  bottom: 40px;
}

@media screen and (max-width: 768px) {
  .scroll-top.show {
    bottom: 50px;
  }
}

.scroll-top:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.scroll-top:active, .scroll-top:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .scroll-top {
    position: fixed;
    right: 30px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1450px) {
  .scroll-top {
    right: 25px;
  }
}

.scroll-top:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 13px;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-image: url(../images/ico/chevron-down.png);
  background-size: contain;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.como-chegar {
  overflow: hidden;
}

.como-chegar__title {
  font-size: 30px;
  font-weight: 400;
}

.como-chegar .inner-title {
  color: #fff;
  padding: 0 10px !important;
}

.como-chegar__radio {
  margin-bottom: -6px;
}

.como-chegar__map {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .como-chegar__map {
    height: 500px;
    order: 2;
  }
}

.como-chegar__form {
  background-color: #e93178;
  padding: 85px 34% 90px 63px;
}

@media screen and (max-width: 768px) {
  .como-chegar__form {
    padding: 40px 80px 50px 50px;
    order: 1;
  }
}

.como-chegar__form:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 0;
  width: 16%;
  height: 100%;
  background: repeating-linear-gradient(20deg, #fdb52e, #fdb52e 1px, #e93178 2px, #e93178 9px);
}

@media screen and (max-width: 768px) {
  .como-chegar__form:after {
    right: -15px;
  }
}

.como-chegar__form__caption {
  color: #fff;
  max-width: 380px;
}

.como-chegar__form__caption p {
  font-size: 16px;
}

@media screen and (max-width: 576px) {
  .como-chegar__form__caption p {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .como-chegar__form__caption h3 {
    font-size: 24px;
  }
}

@media screen and (max-width: 576px) {
  .como-chegar__form__caption {
    max-width: 400px;
  }
}

.como-chegar__form .form-control {
  max-width: 500px;
  color: #f97730;
}

.como-chegar__form .form-control::placeholder {
  color: #f97730;
}

.como-chegar__form .radio-white {
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .como-chegar__form .radio-white {
    font-size: 12px;
  }
}

.contato__header {
  background-color: #fff;
  padding: 50px 0 40px 0;
}

.contato__header .inner-title {
  color: #606060;
}

.contato__content {
  padding: 50px 0;
  background-color: #f7f7f7;
}

.contato__plantao {
  width: 100%;
  margin-top: 34px;
}

.contato__texto-plantao {
  font-size: 16px;
}

.contato__texto-plantao h5 {
  color: #f97730;
  text-transform: uppercase;
  font-size: inherit;
}

.contato__texto-plantao p {
  color: #818181;
}

.contato__numero-plantao {
  font-size: 32px;
  color: #f97730;
}

.galeria {
  background-color: #fff;
  max-width: 100vw;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .galeria {
    margin-bottom: 0;
  }
}

.galeria__main-wrapper {
  display: flex;
  padding-right: 50px;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .galeria__main-wrapper {
    justify-content: center;
    padding-right: 0;
  }
}

.galeria__main-img {
  height: 680px;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .galeria__main-img {
    height: 400px;
  }
}

.galeria__main-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.galeria__list-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 60px;
}

@media screen and (max-width: 992px) {
  .galeria__list-wrapper {
    padding: 0;
  }
}

.galeria__list-item {
  position: relative;
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  padding: 0;
  height: 170px;
  margin: 5px;
  width: 46%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.galeria__list-item:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f97730;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.galeria__list-item:focus {
  outline: none;
}

.galeria__list-item:hover:after, .galeria__list-item.active:after {
  opacity: .6;
}

.galeria__list-item:hover {
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
}

.galeria__list-item img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.imoveis {
  max-width: 100vw;
  overflow: hidden;
}

.imoveis__header {
  padding: 70px 0 60px 0;
}

.imoveis__header .inner-title {
  color: #949494;
  padding: 0;
  text-align: center;
}

.imoveis__header .inner-title:after {
  position: absolute;
  left: 50%;
  background-color: #e93178;
  transform: translateX(-50%);
  width: 44%;
}

@media screen and (max-width: 768px) {
  .imoveis__header .inner-title:after {
    width: 50%;
  }
}

.imoveis__tabs {
  position: relative;
}

.imoveis__tabs-header {
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 4px;
  border-radius: 2px 2px 0 0;
  background-color: #73807f;
  width: 90%;
  height: 40px;
  top: -28px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  z-index: -1;
  border-radius: 5px;
}

@media screen and (max-width: 992px) {
  .imoveis__tabs-header {
    animation-name: none !important;
    position: relative;
    margin-left: 0;
    transform: translateY(40px);
  }
}

.imoveis__tabs-header:after {
  content: '';
  width: 20px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  left: -5px;
  top: -10px;
  transform: rotate(30deg);
}

.imoveis__tabs-header:before {
  content: '';
  width: 20px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  right: -5px;
  top: -10px;
  transform: rotate(-30deg);
}

.imoveis__tabs-header.obras {
  background-color: #617674;
  width: 70%;
  margin-left: 20%;
}

@media screen and (max-width: 992px) {
  .imoveis__tabs-header.obras {
    margin-top: -20px;
    margin-left: 15%;
  }
}

@media screen and (max-width: 992px) {
  .imoveis__tabs-header.prontos {
    width: 70%;
    margin-left: 15%;
    margin-top: 10px;
  }
}

.imoveis__tabs-item {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 40px 10px 25px 20px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}

.imoveis__tabs-item:hover .caption {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  transform: scale(1.04);
}

.imoveis__tabs-item .caption {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: 10px;
}

@media screen and (max-width: 992px) {
  .imoveis__tabs-item .caption {
    margin-right: 20px;
  }
}

.imoveis__tabs-item.purple {
  background-color: #743e7f;
}

.imoveis__tabs-item.yellow {
  background-color: #fec838;
}

.imoveis__tabs-item.orange {
  background-color: #f97730;
}

.imoveis__tabs-item.pink {
  background-color: #e93178;
}

.imoveis__tabs-item .nome {
  font-weight: bold;
  font-size: 35px;
  margin-top: -10px;
  margin-bottom: 30px;
}

.imoveis__tabs-item .tamanho {
  font-weight: bold;
  font-size: 28px;
  margin-top: -7px;
  margin-bottom: 30px;
}

.imoveis__tabs-item small {
  font-size: 13px;
}

.imoveis__tabs-item .more {
  position: relative;
  display: block;
  text-align: right;
  text-transform: lowercase;
  font-size: 14px;
  padding-right: 50px;
  margin-left: 140px;
  white-space: nowrap;
}

.imoveis__tabs-item .more:after {
  content: '';
  display: block;
  position: absolute;
  right: 30px;
  top: 3px;
  width: 15px;
  height: 15px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../images/ico/arrow-down.png");
}

@media screen and (max-width: 992px) {
  .imoveis__tabs-item .more:after {
    right: 30px;
  }
}

.imoveis .obras-wrapper {
  position: relative;
  background-color: #f97730;
  overflow: visible;
}

@media screen and (max-width: 992px) {
  .imoveis .obras-wrapper {
    background-color: transparent;
  }
}

.imoveis .obras-wrapper:after {
  content: '';
  position: absolute;
  top: -15px;
  right: -10px;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  z-index: 5;
  border-top: 25px solid #fff;
}

@media screen and (max-width: 992px) {
  .imoveis .obras-wrapper:after {
    display: none;
  }
}

.imoveis .prontos-wrapper {
  position: relative;
  background-color: #e93178;
  overflow: visible;
}

@media screen and (max-width: 992px) {
  .imoveis .prontos-wrapper {
    background-color: transparent;
  }
}

.imoveis__slide {
  padding-top: 30px;
  height: 700px;
  margin-bottom: 130px;
  opacity: 0;
  transform: translateY(100px);
  visibility: hidden;
  display: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  animation: fadeIn 1s;
}

.imoveis__slide.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  display: block;
}

@media screen and (max-width: 992px) {
  .imoveis__slide {
    height: auto;
  }
}

.imoveis__slide.yellow {
  background-color: #fec838;
}

.imoveis__slide.yellow .imoveis__slide-item-info {
  background-color: #fec938f5;
}

.imoveis__slide.yellow .imoveis__slide-item-more {
  background-color: #fec938f5;
}

.imoveis__slide.purple {
  background-color: #743e7f;
}

.imoveis__slide.purple .imoveis__slide-item-info {
  background-color: rgba(116, 62, 127, 0.856);
}

.imoveis__slide.purple .imoveis__slide-item-more {
  background-color: #5b3064;
}

.imoveis__slide.orange {
  background-color: #f97730;
}

.imoveis__slide.orange .imoveis__slide-item-info {
  background-color: #f97630e3;
}

.imoveis__slide.orange .imoveis__slide-item-more {
  background-color: #d25c1b;
}

.imoveis__slide.pink {
  background-color: #e93178;
}

.imoveis__slide.pink .imoveis__slide-item-info {
  background-color: #f23778de;
}

.imoveis__slide.pink .imoveis__slide-item-more {
  background-color: #f23778;
}

.imoveis__slide-caption {
  padding-top: 30px;
  color: #fff;
  max-width: 290px;
  padding-left: 40px;
  animation: fadeInUp 1s;
}

.imoveis__slide-title {
  text-transform: uppercase;
  font-size: 20px;
}

.imoveis__slide-title span {
  font-size: 45px;
  margin-top: -8px;
  display: block;
  font-weight: 900;
  text-transform: none;
}

.imoveis__slide-desc {
  font-size: 16px;
}

.imoveis__slide-options {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  animation: fadeInUp 1s;
}

@media screen and (max-width: 992px) {
  .imoveis__slide-options {
    margin-bottom: 30px;
    justify-content: center;
  }
}

.imoveis__slide-option {
  flex-shrink: 0;
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
  border: none;
  color: #fff;
  margin: 0 20px 20px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .imoveis__slide-option {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 768px) {
  .imoveis__slide-option {
    width: 120px;
    height: 120px;
  }
}

.imoveis__slide-option.active, .imoveis__slide-option:hover {
  background-color: rgba(0, 0, 0, 0.096);
}

.imoveis__slide-option:hover {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  transform: scale(1.04);
}

.imoveis__slide-option img {
  width: 90px;
}

@media screen and (max-width: 768px) {
  .imoveis__slide-option img {
    display: none;
  }
}

.imoveis__slide-option .tamanho {
  font-weight: bold;
  font-size: 27px;
  margin-bottom: -10px;
}

.imoveis__slide-item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fadeInRight 1s;
}

@media screen and (max-width: 992px) {
  .imoveis__slide-item {
    position: relative;
    display: none;
  }
}

.imoveis__slide-item-img {
  position: relative;
  width: 150%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transform: skewX(10deg) translateX(-6%);
  margin-left: 200px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .imoveis__slide-item-img {
    transform: skewX(10deg) translateX(-3%);
  }
}

@media screen and (max-width: 992px) {
  .imoveis__slide-item-img {
    transform: none !important;
    height: 550px;
  }
}

.imoveis__slide-item-img img {
  position: absolute;
  width: 120%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: skewX(-10deg) translateX(-11%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.imoveis__slide-item-img img.active {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1200px) {
  .imoveis__slide-item-img img {
    transform: skewX(-10deg) translateX(-15%);
  }
}

@media screen and (max-width: 992px) {
  .imoveis__slide-item-img img {
    transform: none !important;
    height: 600px;
  }
}

.imoveis__slide-item-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: -85px;
  left: 50%;
  width: 280px;
  height: auto;
  max-height: 0px;
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

@media screen and (max-width: 768px) {
  .imoveis__slide-item-info {
    left: 10%;
  }
}

@media screen and (max-width: 340px) {
  .imoveis__slide-item-info {
    width: 250px;
  }
}

.imoveis__slide-item-caption {
  padding: 25px 25px 30px 25px;
  color: #FFF;
}

.imoveis__slide-item-caption .title {
  text-transform: uppercase;
  font-size: 20px;
}

.imoveis__slide-item-caption .title span {
  font-size: 45px;
  margin-top: -8px;
  display: block;
  font-weight: 900;
  text-transform: none;
}

.imoveis__slide-item-caption .desc {
  font-size: 15px;
  margin-bottom: 13px;
}

.imoveis__slide-item-caption .concluido {
  position: relative;
  padding-left: 25px;
  text-transform: uppercase;
  font-size: 14px;
}

.imoveis__slide-item-caption .concluido:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 1px;
  width: 18px;
  height: 18px;
  background-image: url(../images/ico/checkin.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  filter: brightness(0) invert(1);
}

.imoveis__slide-item-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  color: #fff;
  font-weight: bold;
  font-size: 19px;
  text-align: center;
  text-transform: uppercase;
  height: 85px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.imoveis__slide-item-more:hover {
  color: #fff;
  background-color: #e79a0b;
}

.imoveis__slide-item.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  display: block;
}

.imoveis__slide-item.active .imoveis__slide-item-info {
  opacity: 1;
  max-height: 500px;
}

.imoveis__slide-item.active .imoveis__slide-item-img {
  margin-left: 0;
  opacity: 1;
}

.home {
  position: relative;
  width: 100vw;
  height: calc(100vh - 40px);
  max-width: 100vw;
  overflow: hidden;
}

.home__teaser {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.home__caption {
  position: absolute;
  width: 68%;
  height: 100%;
  transition: all 1.3s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .home__caption {
    width: 100%;
  }
}

.home__caption-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(-40deg, #fdb42e 0%, #f97630 50%, #e93178 100%);
  opacity: .88;
  transform: skew(-9deg) translateX(-150px);
}

@media screen and (max-width: 768px) {
  .home__caption-bg {
    transform: none;
  }
}

.home__caption-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 3;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .home__caption-content {
    padding-right: 0;
    align-items: center;
  }
}

.home__caption-content .moldura {
  width: 540px;
  background-image: url(../images/trumps/moldura-home.png);
  background-size: 82% 100%;
  background-repeat: no-repeat;
  padding: 50px 0 30px 50px;
  color: #fff;
}

@media screen and (min-width: 2000px) {
  .home__caption-content .moldura {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@media screen and (max-width: 768px) {
  .home__caption-content .moldura {
    margin-top: -20%;
    width: 350px;
    padding-left: 20px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 340px) {
  .home__caption-content .moldura {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
  }
}

.home__caption-content .title {
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: .9;
  font-family: 'MP';
  font-weight: 900px;
}

@media screen and (max-width: 768px) {
  .home__caption-content .title {
    font-size: 50px;
  }
}

.home__caption-content .desc {
  font-size: 22px;
  line-height: 1.4;
}

@media screen and (max-width: 768px) {
  .home__caption-content .desc {
    font-size: 18px;
  }
}

.home__play {
  position: absolute;
  z-index: 5;
  top: 35%;
  right: -120px;
  width: 150px;
  height: 150px;
  background-image: url(../images/ico/play.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home__play:hover {
  transform: scale(1.08);
}

@media screen and (max-width: 1200px) {
  .home__play {
    align-self: center;
    position: relative;
    top: unset;
    right: unset;
    margin-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .home__play {
    margin-top: 30px;
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 340px) {
  .home__play {
    margin-top: 0;
  }
}

.home.hide .home__play {
  opacity: 0;
}

.home.hide .home__caption {
  transform: translateX(-100vw);
  opacity: .4;
}

.diferenciais {
  position: relative;
  padding: 80px 0;
  margin-bottom: 45px;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .diferenciais {
    padding: 60px 0;
  }
}

.diferenciais__slide {
  display: flex;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.diferenciais__slide.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

@media screen and (max-width: 992px) {
  .diferenciais__slide {
    display: none !important;
  }
}

.diferenciais__slide-caption {
  width: 130%;
  height: 100%;
  background: linear-gradient(to bottom, #fdb42e 0%, #f97630 53%, #e93178 100%);
  padding: 50px 20px 50px 40%;
  color: #fff;
  text-align: left;
}

.diferenciais__slide-caption p {
  max-width: 300px;
}

.diferenciais__slide-title {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 30px;
}

.diferenciais__slide-img {
  position: relative;
  width: 140%;
  height: 100%;
  overflow: hidden;
  transform: skewX(-19deg);
}

@media screen and (max-width: 1200px) {
  .diferenciais__slide-img {
    transform: skewX(-19deg) translateX(6%);
  }
}

.diferenciais__slide-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: skewX(19deg) translateX(-10%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.diferenciais__slide-img img.active {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1200px) {
  .diferenciais__slide-img img {
    transform: skewX(19deg) translateX(-15%);
  }
}

.diferenciais__slide-actions {
  position: absolute;
  right: 50px;
  top: 60px;
  display: flex;
  flex-direction: column;
}

.diferenciais__slide-actions-item {
  position: relative;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 1;
  border: none;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.diferenciais__slide-actions-item:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.diferenciais__slide-actions-item:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.diferenciais__slide-actions-item.closee {
  background-color: #e93178;
}

.diferenciais__slide-actions-item.closee:after {
  background-image: url(../images/ico/close.png);
}

.diferenciais__slide-actions-item.right, .diferenciais__slide-actions-item.left {
  background-color: #f97730;
}

.diferenciais__slide-actions-item.right:after {
  background-image: url(../images/ico/chevron-right.png);
}

.diferenciais__slide-actions-item.left:after {
  background-image: url(../images/ico/chevron-left.png);
}

.diferenciais__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.diferenciais__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 992px) {
  .diferenciais__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .diferenciais__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.diferenciais__item-title {
  color: #949494;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
  .diferenciais__item-title {
    font-size: 19px;
    margin-bottom: 15px;
  }
}

.diferenciais__item-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 280px;
  height: 280px;
  padding: 50px;
  border-radius: 50%;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .diferenciais__item-circle {
    width: 240px;
    height: 240px;
    padding: 30px;
  }
}

@media screen and (max-width: 992px) {
  .diferenciais__item-circle {
    width: 200px;
    height: 200px;
    padding: 30px;
  }
}

.diferenciais__item-circle:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  background: linear-gradient(to bottom, #fdb42e 0%, #f97630 53%, #e93178 100%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.diferenciais__item-desc {
  position: relative;
  z-index: 3;
  opacity: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.7px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 992px) {
  .diferenciais__item-desc {
    font-size: 12px;
  }
}

.diferenciais__item:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width: 992px) {
  .diferenciais__item:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
}

.diferenciais__item:hover .diferenciais__item-desc {
  opacity: 1;
}

.diferenciais__item:hover .diferenciais__item-circle:after {
  opacity: .97;
}

@media screen and (max-width: 992px) {
  .diferenciais__item .diferenciais__item-desc {
    opacity: 1;
  }
  .diferenciais__item .diferenciais__item-circle:after {
    opacity: .9;
  }
}

.implantacao {
  overflow: hidden;
  max-width: 1600px;
  max-height: 100vh;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .implantacao {
    transform: none !important;
    max-height: unset;
  }
}

.implantacao__header {
  position: relative;
  z-index: 2;
  padding: 40px 0 10px 0;
  margin-bottom: -40px;
}

@media screen and (max-width: 992px) {
  .implantacao__header {
    margin-bottom: 0;
    padding: 20px 0;
    background-color: #fff;
    margin-top: 20px;
  }
}

.implantacao__header .inner-title {
  padding: 0 10px !important;
  color: #949494;
}

.implantacao__header .inner-title:after {
  background-color: #f97730;
}

.implantacao__content {
  z-index: 1;
  cursor: move;
}

.implantacao__content:active {
  cursor: grabbing;
}

@media screen and (max-width: 992px) {
  .implantacao__content {
    transform: none !important;
    padding: 10px 20px 10px 30px;
    padding-top: 40px;
    transform: none !important;
    background-image: url(../images/galeria/main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 0;
  }
}

.implantacao__scene {
  width: 1600px;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .implantacao__scene {
    display: none;
  }
}

.implantacao__item {
  cursor: pointer;
  position: absolute;
  z-index: 4;
  animation: float 4s infinite;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 992px) {
  .implantacao__item {
    display: flex;
    position: relative;
    top: unset !important;
    left: unset !important;
    margin-bottom: 40px;
    animation: none;
  }
  .implantacao__item.checkin {
    display: none;
  }
}

.implantacao__item-icon {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.implantacao__item-icon:before {
  content: '';
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 120px;
  background-image: url(../images/ico/implantacao-icon.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.implantacao__item-icon:after {
  content: '';
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center center;
  background-repeat: no-repeat;
}

.implantacao__item-icon.checkin {
  width: 37px;
  height: 37px;
  background-color: #27c17b;
}

.implantacao__item-icon.checkin:before {
  width: 50px;
  height: 50px;
  background: none;
  background-color: #ffffff86;
  top: 50%;
  border-radius: 50%;
}

.implantacao__item-icon.checkin:after {
  background-size: 70%;
  background-image: url(../images/ico/checkin.png);
}

.implantacao__item-icon.marker {
  background-color: #e93178;
}

.implantacao__item-icon.marker:after {
  background-size: 40%;
  background-image: url(../images/ico/marker.png);
}

.implantacao__item-icon.car {
  background-color: #f97730;
}

.implantacao__item-icon.car:after {
  background-image: url(../images/ico/car.png);
}

.implantacao__item-icon.folhas {
  background-color: #f97730;
}

.implantacao__item-icon.folhas:after {
  background-image: url(../images/ico/folhas.png);
}

.implantacao__item-icon.house {
  background-color: #f97730;
}

.implantacao__item-icon.house:after {
  background-size: 70%;
  background-image: url(../images/ico/house-2.png);
}

.implantacao__item-box {
  position: absolute;
  right: 30px;
  top: 1px;
  border-radius: 0 60px 60px 0;
  transform: translateX(100%);
  padding: 7px 0;
  opacity: 0;
  max-width: 1px;
  overflow: hidden;
  transition: max-width 1s ease-in-out, opacity 0.2s ease-in, padding 0.7s;
  color: #fff;
  font-size: 10px;
  white-space: nowrap;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .implantacao__item-box {
    position: relative;
    right: unset;
    top: unset;
    transform: none;
    width: 78%;
    max-width: unset;
    opacity: 1;
    padding: 7px 25px 7px 30px;
    margin-left: -25px;
  }
}

.implantacao__item-box span {
  display: block;
  font-size: 21px;
  font-weight: 900;
  margin-top: -3px;
  text-transform: none;
}

.implantacao__item-box.orange {
  background-color: #f97730;
}

.implantacao__item-box.pink {
  background-color: #e93178;
}

.implantacao__item-box.green {
  background-color: #27c17b;
  top: 3px;
}

.implantacao__item:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.implantacao__item:hover .implantacao__item-box {
  padding: 7px 25px 7px 40px;
  opacity: 1;
  max-width: 1000px;
}

body {
  position: relative;
  margin: 0;
  background-color: white;
  font-family: 'Lato', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*# sourceMappingURL=maps/style.css.map */
