<footer class="main-footer">
    <div class="main-footer__brands  wow fadeInUp">
        <div class="container position-relative h-100">
            <div class="main-footer__brands-content">
                <a href="#">
                    <img class="villa" src="../images/brands/villa-white.png" alt="Logo Villa Flora em branco">
                </a>
                <div>
                    <a href="#">
                        <img class="wolf" src="../images/brands/wolf.png" alt="Logo Wolf em branco">
                    </a>
                    <a href="#">
                        <img class="mendes" src="../images/brands/mendes.png" alt="Logo Mendes Ortega em branco">
                    </a>
                </div>
            </div>
            <div class="main-footer__splice">
                <a href="#">
                    <img src="../images/brands/splice.png" alt="Logo Splice em laranja">
                </a>
            </div>
        </div>
    </div>

    <div class="main-footer__copyright  wow fadeIn">
        <div class="container">
            <p class="wow fadeInUp">Incorporação e construção: ANDIRA EMPREENDIMENTOS IMOBILIÁRIOS LTDA. Condomínio dos
                Antúrios: Projeto
                aprovado pela Prefeitura Municipal de Votorantim sob o alvará nº 173/2017, em 30/03/2017. Incorporação
                imobiliária registrada sob o n.º R. 3, datado de 01 de junho de 2017, da matrícula nº 15.072, do Oficial
                de Registro de Imóveis do Município de Votorantim – SP. Móveis, equipamentos e decorações são sugestões
                e não fazem parte do projeto a ser entregue pela Incorporadora. Consulte unidades/modelos disponíveis.
                Atendimento das 09h às 18h, todos os dias da semana. Vendas: WOLF IMÓVEIS CRECI 20.226J / MENDES ORTEGA
                CRECI 9.835J.</p>
        </div>
    </div>
</footer>