<nav class="main-nav">
    <div class="container">
        <div class="main-nav__brand">
            <a href="#">
                <img src="../images/brands/villa.png" alt="Logo Villa Flora"></a>
        </div>

        <ul class="main-nav__list">
            <li class="main-nav__item">
                <a href="">Condomínios</a>
            </li>

            <li class="main-nav__item">
                <a href="">Como chegar</a>
            </li>

            <li class="main-nav__item">
                <a href="">Contato</a>
            </li>

            <li class="main-nav__item obras">
                <a href="">Acompanhe as obras</a>
            </li>
        </ul>
    </div>
</nav>

<nav id="sticky-nav" class="sticky-nav">
    <div class="container">
        <div class="sticky-nav__brand">
            <a href="#">
                <img src="../images/brands/villa-white.png" alt="Logo Villa Flora branco"></a>
        </div>

        <div class="sticky-nav__actions">
            <a class="btn-outline-white mr-2 d-none d-lg-block" href="#" role="button">Agende sua visita agora mesmo</a>
            <button id="toggle-nav" class="sticky-nav__toggler">Menu</button>
        </div>

    </div>

    <div id="sticky-menu" class="sticky-nav__menu">
        <ul class="sticky-nav__menu-list">
            <li class="sticky-nav__menu-item">
                <a href="#">Condomínios</a>
            </li>
            <li class="sticky-nav__menu-item">
                <a href="#">Como cheghar</a>
            </li class="sticky-nav__menu-item">

            <li class="sticky-nav__menu-item">
                <a href="#">Contato</a>
            </li class="sticky-nav__menu-item">

            <li class="sticky-nav__menu-item">
                <a href="#">Acompanhe as obras</a>
            </li>
        </ul>
    </div>
</nav>