.acompanhamento {
    padding-bottom: 90px;

    @media screen and (max-width: $bp-MD){
        padding-bottom: 50px;
    }

    &__main-header {
        width: 100%;
        height: 200px;
        background: linear-gradient(140deg, #f23678 20%, rgba(249, 118, 48, 1) 56%, rgba(253, 180, 46, 1) 70%);

        @media screen and (max-width: $bp-MD) {
            height: 160px;
        }

        .container {
            display: flex;
            align-items: center;
            height: 100%;

            @media screen and (max-width: $bp-MD) {
                justify-content: center;
            }

        }

        .title {
            color: #fff;
            text-transform: uppercase;
            font-size: 18px;

            @media screen and (max-width: $bp-MD) {
                text-align: center;
                font-size: 15px;
            }


            span {
                display: block;
                font-weight: bold;
                text-transform: none;
                font-size: 52px;
                margin-top: -5px;
                
                @media screen and (max-width: $bp-MD) {
                    line-height: 0.8;
                    margin-top: 4px;
                    font-size: 42px;
                }

            }
        }
    }

    &__avisos {
        padding-top: 20px;

        &-header {
            text-transform: uppercase;
            color: #fff;
            padding: 22px 27px;
            font-size: 14px;
            margin-bottom: 10px;
            border-radius: 4px;
            @include transition();


            &:hover {
                @include scale(1.01);
            }

            &.green {
                background-color: #b3ce99;
            }

            &.red {
                background-color: #e96d6d;
            }
        }

        &-body {
            background-color: #f7f7f7;
            border-radius: 4px;
            padding: 19px 27px;

            p {
                max-width: 800px;

                b {
                    display: block;
                }
            }
        }
    }

    &__header {
        display: flex;
        justify-content: center;
        padding: 40px 0;

        @media screen and (max-width: $bp-MD) {
            padding: 20px 0;
        }

        .container {
            display: flex;
            justify-content: center;
        }

        .inner-title {
            color: #949494;
            padding-bottom: 15px !important;
            text-align: center;

            @media screen and (max-width: $bp-MD) {
                padding-bottom: 7px !important;
                font-size: 20px;
            }

            &:after {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                background-color: $color-secondary;
                width: 230px;

                @media screen and (max-width: $bp-MD) {
                    width: 140px;
                }
            }
        }
    }

    &__galeria {
        max-width: 100vw;
        overflow-x: hidden;
        
        &-imagens {
            display: none;
            animation: 1s fadeInUp;

            &.active {
                display: block;
            }
        }

        &-imagem {
            position: relative;
            display: block;
            height: 300px;
            width: 100%;

            @media screen and (max-width: $bp-MD) {
                height: 200px;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: $color-primary;
                opacity: 0;
                pointer-events: none;
                @include transition();
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                @include transition();
            }

            &:hover {
                &:before {
                    opacity: .4;
                }
            }
        }

        &-controls {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 40px;
        }

        &-control {
            position: relative;
            padding: 8px 40px;
            color: #3b4059;
            background-color: transparent;
            border: none;
            margin: 6px;
            @include transition();

            @media screen and (max-width: $bp-MD) {
                padding: 4px 30px;
                margin: 6px 4px;
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                transform: skew(-27deg);
                background-color: #f8f7f7;
                z-index: -1;
                @include transition();
            }

            &.active,
            &:hover {
                color: #fff;

                &:after {
                    background-color: #3b4059;
                }
            }
        }
    }

    &__media{
        height: auto;

        &-sorce{
            width: 100%;
        }
    }

    &__documentos{
        &-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .btn-skew-gray{
                flex-grow: 0;
                flex-shrink: 0;
            }
        }
    }

    &__login{
        &-form{
            .form-control{
                background-color: #f8f7f7;
                height: 43px;
            }

            label{
                text-transform: uppercase;
                color: #3b4059;
                font-size: 15px;
            }
        }
    }
}