.como-chegar {
    overflow: hidden;

    &__title{
        font-size: 30px;
        font-weight: 400;
    }

    .inner-title{
        padding: 0 10px !important;
    }
    
    &__radio{
        margin-bottom: -6px;
    }


    &__map {
        height: 100%;
        width: 100%;

        @media screen and (max-width: $bp-MD) {
            height: 500px;
            order: 2;
        }
    }

    &__form {
        background-color: $color-secondary;
        padding: 85px 34% 90px 63px;
        
        @media screen and (max-width: $bp-MD) {
            padding: 50px 80px 50px 50px;
            order: 1;
        }
        
        &:after {
            content: '';
            position: absolute;
            right: 15px;
            top: 0;
            width: 16%;
            height: 100%;
            background: $gradient-stripes;
            
            @media screen and (max-width: $bp-MD){
                right: -15px;
            }
        }
        
        &__caption {
            color: #fff;
            max-width: 380px;

            p{
                font-size: 16px;

                @media screen and (max-width: $bp-SM){
                    font-size: 14px;
                }
            }

            
            h3{

                @media screen and (max-width: $bp-SM){
                    font-size: 24px;
                }
            }
            
            @media screen and (max-width: $bp-SM) {
                max-width: 400px;
            }
        }
        
        .form-control {
            max-width: 500px;
            color: $color-primary;
            
            &::placeholder{
                color: $color-primary;
            }
        }

        .radio-white{
            font-size: 13px;

            @media screen and (max-width: $bp-MD){
                font-size: 12px;
            }
        }
    }
}