.contato{
    &__header{
        background-color: #fff;
        padding: 50px 0 40px 0;

        .inner-title{
            color: #606060;
        }
    }

    &__content{
        padding: 50px 0;
        background-color: #f7f7f7;
    }

    &__plantao{
        width: 100%;
        margin-top: 34px;
    }

    &__texto-plantao{
        font-size: 16px;

        h5{
            color: $color-primary;
            text-transform: uppercase;
            font-size: inherit;
        }

        p{
            color: $color-gray;
        }
    }

    &__numero-plantao{
        font-size: 32px;
        color: $color-primary;
    }
}