.diferenciais {
    position: relative;
    padding: 80px 0;
    margin-bottom: 25px;
    overflow: hidden;

    @media screen and (max-width: $bp-LG){
        padding: 60px 0;
    }

    &__slide {
        display: flex;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        width: 100vw;
        opacity: 0;
        pointer-events: none;
        z-index: 5;
        visibility: hidden;
        @include transition();

        &.active{
            visibility: visible;
            opacity: 1;
            pointer-events: all;
        }

        @media screen and (max-width: $bp-LG){
            display: none !important;
        }

        &-caption {
            width: 130%;
            height: 100%;
            background: $gradient-primary;
            padding: 50px 20px 50px 40%;
            color: #fff;
            text-align: left;

            p{
                max-width: 300px;
            }
        }

        &-title{
            text-transform: uppercase;
            font-size: 40px;
            margin-bottom: 30px;
        }

        &-img {
            position: relative;
            width: 140%;
            height: 100%;
            overflow: hidden;
            transform: skewX(-19deg);
            
            @media screen and (max-width: $bp-XL){
                transform: skewX(-19deg) translateX(6%);
            }
            
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transform: skewX(19deg) translateX(-10%);
                opacity: 0;
                visibility: hidden;
                @include transition();

                &.active{
                    opacity: 1;
                    visibility: visible;
                }
                
                @media screen and (max-width: $bp-XL){
                    transform: skewX(19deg) translateX(-15%);
                }
            }
        }

        &-actions{
            position: absolute;
            right: 50px;
            top: 60px;
            display: flex;
            flex-direction: column;

            &-item{
                position: relative;
                display: flex;
                width: 50px;
                height: 50px;
                border-radius: 50%; 
                opacity: 1;
                border: none;
                margin-bottom: 10px;
                @include transition();

                &:hover{
                    opacity: 1;
                    @include scale(1.1);
                }

                &:after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 20px;
                    height: 20px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;

                }

                &.closee{
                    background-color: $color-secondary;
                     
                    &:after{
                        background-image: url(../images/ico/close.png);
                    }
                }

                &.right, &.left{
                    background-color: $color-primary;
                }

                &.right{
                    &:after{
                        background-image: url(../images/ico/chevron-right.png);
                    }
                }

                &.left{
                    &:after{
                        background-image: url(../images/ico/chevron-left.png);
                    }
                }
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        @include transition();

        &:not(:last-child) {
            margin-right: 50px;

            @media screen and (max-width: $bp-LG) {
                margin-right: 20px;
            }

            @media screen and (max-width: $bp-MD){
                margin-right: 0;
                margin-bottom: 30px;
            }
        }

        &-title {
            color: #949494;
            text-transform: uppercase;
            font-size: 22px;
            margin-bottom: 20px;

            @media screen and (max-width: $bp-LG) {
                font-size: 19px;
                margin-bottom: 15px;
            }
        }

        &-circle {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 280px;
            height: 280px;
            padding: 50px;
            border-radius: 50%;
            margin: 0 auto;
            background-size: cover;
            background-position: center center;
            @include transition();


            @media screen and (max-width: $bp-XL) {
                width: 240px;
                height: 240px;
                padding: 30px;
            }

            @media screen and (max-width: $bp-LG) {
                width: 200px;
                height: 200px;
                padding: 30px;
            }

            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                opacity: 0;
                background: $gradient-primary;
                @include transition();
            }
        }

        &-desc {
            position: relative;
            z-index: 3;
            opacity: 0;
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 15px;
            letter-spacing: 0.7px;
            @include transition();

            @media screen and (max-width: $bp-LG) {
                font-size: 12px;
            }
        }

        &:hover {
            @include scale(1.1);

            @media screen and (max-width: $bp-LG) {
                @include scale(1.05);
            }

            .diferenciais__item-desc {
                opacity: 1;
            }

            .diferenciais__item-circle {
                &:after {
                    opacity: .97;
                }
            }
        }

        @media screen and (max-width: $bp-LG){

            .diferenciais__item-desc {
                opacity: 1;
            }

            .diferenciais__item-circle {
                &:after {
                    opacity: .9;
                }
            }
        }
    }

}