$color-primary: #f97730;
$color-primary-dark: #d45d1c;
$color-secondary: #e93178;
$color-light: #f7f7f7;

$color-yellow: #fdb52e;
$color-bege: #f5ebd0;

$color-error: rgb(255, 217, 0);

$gradient-primary: linear-gradient(to bottom, rgba(253, 180, 46, 1) 0%, rgba(249, 118, 48, 1) 53%, rgba(233, 49, 120, 1) 100%);
$gradient-stripes: repeating-linear-gradient(20deg, #fdb52e, #fdb52e 1px, #e93178 2px, #e93178 9px);