.owl-carousel {
    &.nav-center {
        .owl-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: auto;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;

            button {
                position: absolute;
                color: $color-primary !important;
                font-size: 40px !important;
                width: 90px;
                height: 70px;
                opacity: 0.8;
                text-align: center;
                @include transition();

                &:hover {
                    opacity: 1;
                }

                &:focus {
                    outline: none;
                }

                @media screen and(max-width: $bp-SM) {
                    width: 40px;
                    height: 40px;
                }
            }

            .owl-prev {
                left: -13%;
            }

            .owl-next {
                right: -13%;
            }

            @media screen and(max-width: $bp-MD) {
                .owl-prev {
                    left: -17%;
                }

                .owl-next {
                    right: -17%;
                }
            }

            @media screen and(max-width: 1390px) and (min-width: 1246px) {
                .owl-prev {
                    left: -10%;
                }

                .owl-next {
                    right: -10%;
                }
            }

            @media screen and(max-width: 1300px) and (min-width: 1000px) {
                .owl-prev {
                    left: -8%;
                }

                .owl-next {
                    right: -8%;
                }
            }

            @media screen and(max-width: $bp-SM) {
                height: auto;

                .owl-prev {
                    left: -4%;
                }

                .owl-next {
                    right: -4%;
                }
            }
        }
    }

    .owl-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0;

        .owl-dot {
            width: 12px;
            height: 12px;
            border: 1px solid rgba(255, 255, 255, 0.699);
            border-radius: 50%;
            margin-right: 10px;
            cursor: pointer;

            &.active {
                background-color: #b57b30;
            }

            &:focus,
            &:active {
                outline: none;
            }
        }
    }


}