a:visited, a:link, a:hover, a:active{
    text-decoration: none;
}

a{
    text-decoration: underline;
}

ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: lighter;

    li{
        display: block;
        padding: 2px 0;
    }
}

button, a[role="button"]{
    cursor: pointer !important;
}

b{
    font-weight: bold;
}

.lity {
    background-color: rgba(1, 20, 9, 0.938);
}