.section-wraper {
    padding: 50px 0;
    overflow: hidden;
    
    .section-title {
        font-size: 24px;
        font-family: 'Myriad Pro Semibold', sans-serif;
        margin-bottom: 30px;
        text-transform: uppercase;
        color: black;

        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }
}

.color-primary {
    color: $color-primary !important;
}

.color-secondary {
    color: $color-secondary !important;
}

.color-gray {
    color: $color-gray !important;
}

.border-light {
    border: .5px solid rgb(228, 228, 228) !important;
}

.img-70 {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.circle {
    border-radius: 50%;
}

.chevron-right {
    height: 100% !important;
    width: 100% !important;
    background-image: url(../images/ico/chevron-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.chevron-left {
    height: 100% !important;
    width: 100% !important;
    background-image: url(../images/ico/chevron-left.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.w-LG-auto{
    @media screen and (min-width: $bp-LG){
        width: auto !important;
    }
}