.btn {
    font-family: 'MP';
    padding: 22px 46px;
    font-size: 14px;
    font-weight: lighter;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 1px;
    @include transition();


    &:active,
    &:focus,
    &:hover {
        border: none;
        outline: none;
        box-shadow: none;
    }

}

.btn-transparent {
    background: none !important;
    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
        border: none;
        outline: none;
    }
}

.btn-primary {
    background-color: $color-primary;

    &:hover {
        background-color: darken($color-primary, 2);
        @include scale(1.02);
    }
}

.btn-secondary {
    font-size: 16px;
    padding: 15px 43px;
    background-color: $color-secondary;

    &:hover {
        background-color: darken($color-secondary, 2);
        @include scale(1.02);
    }
}


.btn-default {
    min-height: 40px;
    background-color: $color-primary;
    color: black;

    &:hover {
        background-color: #e4dabe;
        color: black;
    }
}


.btn-outline-white {
    font-family: 'MP';
    background-color: transparent;
    border: 1.4px solid #fff;
    border-radius: 2px;
    padding: 10px 17px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    @include transition();

    &:hover {
        background-color: #fff;
        color: $color-primary;
    }
}

.btn-skew-gray {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 50px 20px 60px;
    align-items: center;
    width: 230px;
    height: 190px;
    margin: 5px;
    color: #949494;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    @include transition();

    img.ico{
        width: 40px;
        margin-bottom: 10px;
    }

    span{
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    &:after {
        content: '';
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgb(238, 238, 238);
        background: linear-gradient(to bottom, #f8f6f7 0%,#ffff 90%);
        transform: skew(-15deg);
    }

    &:hover{
        color: #949494;
        @include scale(1.04);
    }


    @media screen and (max-width: $bp-MD){
        width: 120px;
        height: 130px;
        font-size: 11px;
        padding: 20px;
        transform: skew(2deg) !important;

        img.ico{
            width: 20px
        }
    }
}