.form-control {
    background-color: rgba(255, 255, 255, 0.815);
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: none;
    color: rgb(24, 24, 24);
    font-size: 14px;
    padding: 0 15px;
    @include transition();

    &::placeholder {
        text-transform: uppercase;
        font-weight: 400;
        color: rgba(24, 24, 24, 0.76);
    }

    &:focus,
    &:active {
        outline: none;
        border: none;
        box-shadow: none;
        background-color: rgba(255, 255, 255, 0.726);
    }
}

textarea.form-control {
    height: auto;
    padding: 15px 16px;
}

.form-error{
    color: $color-error;
    display: block;
    margin-top: 5px;
}

.form-group{
    label.error{
        display: block;
        color: $color-primary;
        opacity: .8;
        font-size: 13px;
        font-weight: 400;
        padding-top: 5px;
        padding-left: 4px;
    }
}